* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 10px;
}

body {
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #787a75;
  width: 100%;
  height: 14rem;
  padding: 0rem 10rem;

  .input {
    height: 4rem;
    width: 30rem;
    text-align: center;
  }

  .logo {
    height: 11rem;
  }
}

.contentArea {
  background-image: url("assets/background/backgroundImage.jpeg");
  background-color: #787a75;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 10rem;

  .displayArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem;
    width: 100%;
  }

  .displays{
    font-size: 2.4rem;
    color: white;
    background-color: #787a75;
    width: 50rem;
    height: 65rem;
    cursor: pointer;

    .pokemonNameArea{
      width: 100%;
      background-color: rgb(76, 0, 168);
      height: 10rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0rem 3rem;
    }
  }
  .displays:hover{
    border: rgb(255, 255, 255) 20px solid;
  }
  .pokemonPictureArea{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    background-color: blue;
    height: 40rem;

    .pokemonImage{
      height: 43rem;
    }
  }
  
  .elementInfoArea{
    height: 15rem;
    padding: 2rem 3rem;
    background-color: rgb(142, 0, 92);
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #787a75;
  background-image: url("assets/icons/Favicon/android-chrome-512x512.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  height: 14rem;
  line-height: 10rem;
  font-size: 1.6rem;

  .logoFooter {
    height: 9rem;
  }
}