* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  background-color: #aa9341;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #787a75;

  .headerArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #787a75;
    width: 100%;
    max-width: 1920px;
    height: 14rem;
    padding: 0rem 10rem;
  }

  .input {
    height: 4rem;
    width: 30rem;
    text-align: center;
  }

  .logo {
    height: 11rem;
  }
}

.contentArea {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 10rem;


  .displayArea {
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem;
    width: 100%;
  }

  .displays {
    font-size: 2.4rem;
    color: white;
    width: 50rem;
    cursor: pointer;

    .pokemonNameArea {
      width: 100%;
      background-color: rgb(90, 90, 90);
      height: 10rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-top-left-radius: 7rem;
      padding: 0rem 3rem;
    }

    .elementInfoArea {
      height: 15rem;
      padding: 2rem 3rem;
      background-color: rgb(90, 90, 90);
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-right-radius: 7rem;

      .pokeTypeInfo {
        height: 5rem;
      }
    }
  }

  .displays:hover {
    border-bottom-right-radius: 7rem;
    border-top-left-radius: 7rem;
    border: rgba(0, 0, 0, 0.144) -7px solid;
  }

  .pokemonPictureArea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    height: 26rem;

    .pokemonImage {
      height: 28rem;
    }
  }

  .loadMoreButton {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 5rem;
    background-color: rgb(187, 187, 187);
    width: 20rem;
    height: 6rem;
    cursor: pointer;
  }

  .loadMoreButton:hover {
    color: aliceblue;
    background: url("assets/background/loadMore.gif");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .loadMoreGif {
    width: 20rem;
  }
}

.bigOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #303a205a;
  z-index: 20;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .buttonDiv {
    width: 100%;
    margin-top: 12rem;
    display: flex;
    justify-content: end;
    margin-right: 10rem;

    .loadMoreButtonOverlay {
      font-size: 2rem;
      color: rgb(0, 0, 0);
      font-weight: bold;
      margin-top: 5rem;
      background-color: rgb(187, 187, 187);
      width: 10rem;
      height: 6rem;
      cursor: pointer;
    }

    .loadMoreButtonOverlay:hover {
      color: rgb(255, 255, 255);
      background: url("assets/background/loadMore.gif");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
    }

  }

  .displayBigArea {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90rem;
    height: 66rem;
  }

  .pokemonPictureAreaOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    height: 44rem;

    .pokemonImageBig {
      height: 44rem;
    }
  }

  .displaysBig {
    font-size: 2.4rem;
    color: white;
    width: 71rem;
    cursor: pointer;

    .pokemonNameAreaBig {
      width: 100%;
      background-color: rgb(90, 90, 90);
      height: 10rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-top-left-radius: 7rem;
      padding: 0rem 3rem;
    }

      .elementInfoAreaBig {
        height: 9rem;
        padding: 2rem 3rem;
        background-color: rgb(90, 90, 90);
        display: flex;
        justify-content: center;
        align-items: center;

          .pokeTypeInfoBig {
            height: 5rem;
      }
    }
  }

  .statsOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;

    .mainStat {
      font-size: 1.6rem;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 12rem;
      height: 5rem;
      border: none;
    }

    .mainStat:hover {
      background-color: rgb(90, 90, 90);
    }
  }

  .statsOverlayDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(90, 90, 90);
    height: 34rem;
    border-bottom-right-radius: 10rem;

    .pokeStatsOverlay {
      display: flex;
      align-items: center;
      padding-left: 3rem;
      width: 100%;
      background-color: black;
      height: 7rem;
    }
  }
}

.loadingSpinner {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: black;
  width: 100%;
  height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #787a75;
  background-image: url("assets/icons/Favicon/android-chrome-512x512.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  height: 14rem;
  line-height: 10rem;
  font-size: 1.6rem;

  .logoFooter {
    height: 9rem;
  }
}

.d_none {
  display: none;
}