.grass{
  background-color: rgb(17, 103, 17);
}

.fire{
  background-color: rgb(164, 16, 16);
}

.water{
  background-color: rgb(28, 112, 195);
}

.bug{
  background-color: #A5ad4a;
}

.normal {
  background-color: #9c9573;
}

.poison{
  background-color: #82357b;
}

.electric{
  background-color: #c5bc43;
}

.fairy {
  background-color: #d891d2;
}

.ground{
  background-color: #918232;
}