.grass{
  background-color: green;
}

.fire{
  background-color: rgba(171, 0, 0, 0.792);
}

.water{
  background-color: rgba(0, 255, 255, 0.619);
}

.bug{
  background-color: #A5ad4a;
}

.normal {
  background-color: #ada57b;
}

.poison{
  background-color: #a5429c;
}

.electric{
  background-color: #e2d73b;
}

.fairy {
  background-color: #ffadf8;
}

.ground{
  background-color: #918232;
}